sentence_transformers
psycopg2-binary
google-generativeai
fastapi
uvicorn
pdfplumber
python-docx
python-pptx
boto3
beautifulsoup4
google-generativeai
python-multipart
uvicorn
websockets
google-api-python-client 
google-auth 
google-auth-httplib2 
google-auth-oauthlib
google-cloud-bigquery
google-cloud-aiplatform

